<!--================================= OUR SPEAKERS START =============================================-->
 <section class="container-fluid section-space section-bg-1" id="speakers">
     <div class="container">
         <h1 class="center">our speakers</h1>
         <div class="row">
             <div class="col-md-3 col-sm-3 team-fixed common-res-bottom-1">
                 <div class="teambg">
                     <div class="zoom-area">
                         <img src="images/400x400x1.jpg" alt="image" class="img-responsive image-center find-image" />
                     </div>
                     <div class="center teambg-icon-pad">
                         <ul class="no-padding no-margin">
                             <li class="team-social-icon">
                                 <a href="#">
                                     <img src="images/32x32x1.png" alt="32x32x1" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x2.png" alt="32x32x2" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x3.png" alt="32x32x3" />
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <h2 class="center h2-bottom">varius sodales</h2>
                 <p class="center teambg-design">CEO </p>
             </div>

             <div class="col-md-3 col-sm-3 team-fixed common-res-bottom-1">
                 <div class="teambg">
                     <div class="zoom-area">
                         <img src="images/400x400x2.jpg" alt="image" class="img-responsive image-center find-image" />
                     </div>
                     <div class="center teambg-icon-pad">
                         <ul class="no-padding no-margin">
                             <li class="team-social-icon">
                                 <a href="#">
                                     <img src="images/32x32x1.png" alt="32x32x1" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x2.png" alt="32x32x2" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x3.png" alt="32x32x3" />
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <h2 class="center h2-bottom">taciti sociosqu</h2>
                 <p class="center teambg-design">MANAGER </p>
             </div>

             <div class="col-md-3 col-sm-3 team-fixed common-res-bottom-1">
                 <div class="teambg">
                     <div class="zoom-area">
                         <img src="images/400x400x3.jpg" alt="image" class="img-responsive image-center find-image" />
                     </div>
                     <div class="center teambg-icon-pad">
                         <ul class="no-padding no-margin">
                             <li class="team-social-icon">
                                 <a href="#">
                                     <img src="images/32x32x1.png" alt="32x32x1" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x2.png" alt="32x32x2" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x3.png" alt="32x32x3" />
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <h2 class="center h2-bottom">litora tourent</h2>
                 <p class="center teambg-design">DESIGNER </p>
             </div>

             <div class="col-md-3 col-sm-3 team-fixed">
                 <div class="teambg">
                     <div class="zoom-area">
                         <img src="images/400x400x4.jpg" alt="image" class="img-responsive image-center find-image" />
                     </div>
                     <div class="center teambg-icon-pad">
                         <ul class="no-padding no-margin">
                             <li class="team-social-icon">
                                 <a href="#">
                                     <img src="images/32x32x1.png" alt="32x32x1" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x2.png" alt="32x32x2" />
                                 </a>
                             </li>

                             <li class="team-social-icon team-social-lr-pad">
                                 <a href="#">
                                     <img src="images/32x32x3.png" alt="32x32x3" />
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <h2 class="center h2-bottom">conubia nostra</h2>
                 <p class="center teambg-design">DEVELOPER </p>
             </div>

         </div>
     </div>
 </section>
 <!--================================= OUR SPEAKERS END =============================================-->
