{% extends 'base.html' %}
{% block content %}
<!--================================= NAVIGATION START =============================================-->
<nav class="navbar navbar-default navbar-fixed-top menu-bg" id="top-nav">
    <div class="container">
        <div class="navigation-tb">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                   <a href="#" class = "grooveshark">Greater Demand Solutions</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="menu-list">
                    <li class="menu-fs menu-underline"><a href="#home" class="pagescroll">home</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#services" class="pagescroll">services</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#schedule" class="pagescroll">schedule</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#speakers" class="pagescroll"> events</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#speakers" class="pagescroll"> speakers</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#faq" class="pagescroll"> faq</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#speakers" class="pagescroll"> contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--================================= NAVIGATION END =============================================-->
{% endblock %}
