{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--================================= CTA START =============================================-->
 <section class="container-fluid gds-background cta-section-space">
     <div class="container">
         <div class="col-md-10 column-center no-padding cta-white-text">
             <h1 class="center">ready to get to work? </h1>
             <h2 class="center getstarted">Because you are great at what you do, we offer services to complement your greatness at a fraction of the cost.  Our services are tailored specifically toward your goals.</h2>
             <div class="center btn-top">
                 <a href="#">
                     <!-- <a href="https://app.acuityscheduling.com/schedule.php?owner=14857229" target="_blank" class="acuity-embed-button" style="background: #3177CA; color: #fff; padding: 8px 12px; border: 0px; -webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;-moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;border-radius: 4px; text-decoration: none; display: inline-block;">Schedule Appointment</a><link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/14857229.css" id="acuity-button-styles" /><script src="https://embed.acuityscheduling.com/embed/button/14857229.js" async></script> -->
                 </a>
             </div>
         </div>
     </div>
 </section>
 <!--================================= CTA END =============================================-->
{% endblock %}
